<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DB_ConnectionString_WOCredentials" value="Data Source=192.168.1.95;Initial Catalog=CSDB;"/>
    <add key="UseSecureCredentials" value="false"/>
    <add key="DB_Username" value="otcs"/>
    <add key="DB_Password" value="P@ssw0rd"/>
    <add key="OTCS_Username" value="Admin"/>
    <add key="OTCS_Password" value="P@ssw0rd"/>
    <add key="SecureCredentialsPath" value=""/>
    <add key="SecureAESKey_Filename" value="AES.key"/>
    <add key="SecureCSDBUsername_Filename" value="csdb_username"/>
    <add key="SecureCSDBPassword_Filename" value="csdb_password"/>
    <add key="SecureOTCSPassword_Filename" value="otcs_username"/>
    <add key="SecureOTCSPassword_Filename" value="otcs_password"/>
    <add key="CS_REST_URL" value="http://192.168.1.95/otcs/llisapi.dll/api/"/>
    <add key="dayBefore" value="1"/>
    <add key="reportLocation" value="./report/"/>
  </appSettings>
</configuration>